* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul, li {
  list-style-type: none;
}

/* #task-1 region */
.categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: auto;
  background: #f6f6fe;
}

.item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-list-element {
  padding: 8px 0 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* #task-2 region */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 24px;  
}

.gallery-image {
  width: 360px;
}
/* #endregion */